body{
    background-image: url("https://w7.pngwing.com/pngs/762/546/png-transparent-wooden-background-wooden-table-wooden-background-board.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;

}
.navbar {
    text-align: center ;
    margin: auto;
    width: 50%;
    border: 3px ;
    padding: 10px;

    
    
  }
 
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: sticky;
        width: 100%;
        /* z-index: 1; */
        
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }

      .tapis{
        gap: 30px;
        transform: rotate(90deg);
        grid-area:body;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-image: url("./tapis.jpg");
        /* display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%,-50%);
        width: 600px; */

       
    }
    .carte img{
        height: 200px;
        width: 100px;
        align-items: center;
    }
    .carte{
        /* display: flex;
        justify-content: center;
        gap: 9px; */
        grid-area: leftSide; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: rotate(90deg);
        gap: 10px;
        
    }
    #reset{
      width: 50%;
      font-size:17px ;
      color: blue;
    }
.active{
  border-color: red;
}
    .carteP img{
      height: 200px;
      width: 100px;
      /* align-items: center; */
  }

    

    .carteP{
      grid-area: rightSide; 
      gap: 10px;
      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: center;
      transform: rotate(90deg);
      /* gap: 9px;
      position: absolute;
      top: 63%;
      right: 40%;
      z-index: -1; */
    }

    #allCards{
      /* display: flex;
      justify-content: center;
      gap: 9px;
      position: absolute;
      top: 35%;
      right: 20%; */
    }


  .cardTable {
    /* z-index: 1; */
    width: 100px;
    height: 200px;
    /* top: 35%;
    right: 50%; */

  }
.contain{
  width: 700x;
  height: 600px;

  display: grid;
  grid:
  
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
  gap: 8px;

}


